{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.866"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}

  :cljrunner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f597341b6ca7bb4cf027e0a34a6710ca9cb969da"}}
   :main-opts ["-m" "cognitect.test-runner" "-d" "test"]}

  :cljsrunner
  {:extra-deps {olical/cljs-test-runner
                {:git/url "https://github.com/Olical/cljs-test-runner.git"
                 :sha "a9cc21916f32fb6caa9f54e349e7cc32b199b0c2"}}
   :main-opts ["-m" "cljs-test-runner.main"
               "-D" "doo.edn"
               "-c" "test-build.edn"
               "-x" "chrome-headless"]}

  :js-deps
  {:extra-deps {com.timetraveltoaster/target-bundle-libs {:mvn/version "RELEASE"}}
   :main-opts ["-m" "target-bundle-libs.core"]}

  :jar
  {:extra-deps {com.github.seancorfield/depstar {:mvn/version "RELEASE"}}
   :main-opts ["-m" "hf.depstar.jar" "target/alphabase.jar"]}

  :install
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "install"
               "target/alphabase.jar"]}

  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
               "target/alphabase.jar"]}

  :coverage
  {:extra-paths ["test"]
   :extra-deps  {cloverage/cloverage {:mvn/version "1.2.2"}}
   :main-opts   ["-m" "cloverage.coverage" "-p" "src" "-s" "test" "--output" "scanning_results/coverage"]}

  :eastwood
  {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
   :main-opts ["-m" "eastwood.lint" {:source-paths ["src"] :out "scanning_results/eastwood.out"}]}

  :ancient
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.06.18"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src" "--config" ".clj-kondo/config.edn"]}}}
